.nav-link {
    color: #CDFFF9;
}

h1 {
    background-color: #CDFFF9;
    display: inline-block;
}

.nav-link {
    text-decoration: underline;
    text-underline-offset: 0.413rem;
}


.hero {
    background-image: url('./assets/images/nordwood-themes-R53t-Tg6J4c-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 10rem;
}

.downloadLink{
    text-decoration: underline;
    text-underline-offset: 0.513rem;
}

