/* Universal Style */
:root {
    --firstbackground-color: #808080;
    --headerNav-color: #383535;
    --primary-color: #B3D6DD;
    --secondary-color: #698FA8;
    --white-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

html {
    font-size: 16px;
}

body {
    background-color: var(--white-color);
}

/* p {
    min-width: 200px;
    min-height: 200px;
  } */

  /* section {
      display: flex;
  }

  .post h2 {
    width: 100px;
    font-size: 0.7rem;
    border-right: 5px solid var(--secondary-color);
    color:var(--secondary-color)
} */

  /* header section */
header {
    background-color: var(--headerNav-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 3rem;
}

header h1 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--headerNav-color);
    background-color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-left: 2%;
}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 2rem;
}

header nav ul li a {
    color: var(--primary-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: underline;
    text-underline-offset: 0.313rem;
    color: var(--primary-color);
  }
  
header nav {
    margin: 7px 0;
  }

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }



/* Banner Section */
.hero {
    background-image: url('./assets/images/thomas-heintz-0tgMnMIYQ9Y-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 10rem;
}

.hero h2 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: var(--headerNav-color);
}

/* Blog Styling */
/* .blog {
    width: 100%;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */

/* .blog .post {
    width: 100%;
    /* margin-top: 3.5%;
    margin-bottom: 7.5%; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1rem;
    /* text-align: center; */
    /* line-height: 1.8;
    color: var(--headerNav-color); */

/* .post h2 {
    font-size: 1.875rem;  
}

.post .image-container {
    width: 100%;
    
} */
  

/* Blog images */
/* .images .image-container {
    width: 100%;
}

.images {
    margin-bottom: 5%; 
    display: flex;
}

.image-container {
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border: 3px solid var(--secondary-color);
} */


/* media query */



section {
    display: flex;
    margin: 0.5rem;
    padding-left: 20px;
}

.post h2 {
    font-size: 23px;
    color: var(--secondary-color);
    /* font-size: 1.45rem; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    border-right: 3px solid var(--secondary-color);
    width: 200px;
    padding-left: 100px;
}

section .post {
    font-size: 48px;
 
}

section .details {
    padding-left: 20px;
}

.flex-row{
    display: flex;
}

.move-it {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

/* resume styling */
.download a{
    text-decoration: underline;
    text-underline-offset: 0.313rem;
    color: var(--headerNav-color);
}

.download a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }



/* footer styling */
.contactClass ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 2rem;
}

.contactClass ul li a {
    color: var(--headerNav-color);
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.50vw;
}

.contactClass a {
    text-decoration: underline;
    text-underline-offset: 0.313rem;
    color: var(--primary-color);
}
  
.contactClass {
    margin: 7px 0;
  }

.contactClass ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }


